#board_box{}
#board_title{
    margin: 1em 0;
}
.title input{
    width: 98.5%;
    padding: .5em;
}
form{
    width: 80%;
    margin: auto;
}
#board_form{}
#text_area textarea{
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1em;
}
.col1{}
.col2{}
.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons li button{
    width: 100%;
    padding : .5em 0;
}

.buttons li:nth-of-type(1){
    width: 70%;
    margin: .5em 0;
}

.buttons li:nth-of-type(2){
    width: 100px;
}

.write_btn{
    padding: .5em 1em;
    background-color: #0053a0;
}

#board_box{
    width: 80%;
    margin: auto;
}

.board_wrap{
    width: 100%;
}

#view_content > li{
    margin-bottom:1em;
}

.delete_btn{
    color: red !important;
}